
.myForm {
  width: 95%;
  max-width: 400px;
  margin: 0 auto;
    label {
      font-size: 1rem;
      font-weight: bold;
      display: block;
      text-align: left;
      margin: 1rem 0 0.2rem;
    }  
    input,
    select {
      width: 100%;
      padding: 0.65rem 0.5rem;
      font-size: 1rem;
      color: black;
      border: 2px solid #644a68;
      background-color: #ffffff;
      border-radius: 10px;
      outline: none;
    }

    input:focus,
    select:focus {
      border-color: #c6a0cd;
    }
    
    input::placeholder,
    select::placeholder {
      color: #a0aec0;
    }

} 
  
input[type="checkbox"] {
  width: fit-content;
  margin-right: 0.5rem;
  transform: scale(1.25);
}
  
.btn{    
  display: block;
  margin: 1rem 0;
  padding: 0.35rem 0.5rem;
  background-color: #c6a0cd;
  color: white;
  border: none;
  border-radius: 3px;
  width: 100%;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.error {
  color: #fc8181;
  font-size: 0.75rem;
  text-align: left;
  margin-top: 0.25rem;
}

input.inputError,
select.inputError {
  border-color: #fc8181;
}